.ball-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &--highlight {
  }

  &--default {
    height: 100vh;
    overflow: auto;
  }
}

// responsive
@media (max-width: 1030px) {
  .ball-container {
    flex-direction: column;

    &--highlight {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 3vw;
      height: 50vh;
    }

    &--default {
      margin-top: 1vw;
      width: 100%;
      white-space: nowrap;
    }
  }
}
