:root {
  --wave-percent: 30%;
  --container-color: rgba(0, 0, 0, 1);
  // --wave-color: rgba(0, 0, 0, 0.9);
  --wave-color: transparent;
}

.ball-size--l {
  --ball-size: 50vw;
}

.ball-size--s {
  --ball-size: 35vw;
}

$ball-padding: 1vw;
$ball-border: $ball-padding;

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--ball-size);
  height: var(--ball-size);
  margin: 3vmin;
}

.container {
  position: absolute;
  border: 0.2vw solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  /* box-shadow can be used to add extra border */
  // box-shadow: 0 0 0 $ball-border var(--container-color);

  height: 100%;
  width: 100%;
  white-space: normal;
  overflow: hidden;

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

// .color {
//   height: 100%;
//   width: 100%;
//   border-radius: 50%;
//   background-color: salmon;
// }

.wave {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--wave-color);
  backdrop-filter: blur(10px);
}

.wave::before,
.wave::after {
  content: '';
  position: absolute;
  width: 300%;
  height: 300%;
  left: -100%;
  top: 40%;
  // top: calc((200% - var(--wave-percent)) * -1);
}

.wave::before {
  border-radius: 45%;
  background-color: rgba(255, 255, 255, 0.1);
  animation: animate 10s linear infinite;
}

.wave::after {
  border-radius: 45%;
  background-color: rgba(255, 255, 255, 0.15);
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// responsive
@media (max-width: 1030px) {
  .ball-size--l {
    --ball-size: 65vw;
  }

  .ball-size--s {
    --ball-size: 40vw;
  }

  .wrapper {
    display: inline-block;
    margin: 2vw 2vw;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
