.ball-size--l {
  --font-unit: 3vmin;
}

.ball-size--s {
  --font-unit: 2vmin;
}

.info-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;

  font-family: bruno;
}

.info-rest-day-text {
  font-size: calc(3.75 * var(--font-unit));
  -webkit-text-stroke: calc(0.125 * var(--font-unit)) white;
  line-height: calc(2 * var(--font-unit));

  &__unit {
    font-size: calc(1.125 * var(--font-unit));
    -webkit-text-stroke: calc(0.0375 * var(--font-unit)) white;
    text-shadow: -0.1vmin 0 white, 0 0.1vmin white, 0.1vmin 0 white,
      0 -0.1vmin white;
  }
}

.info-date-end {
  font-size: var(--font-unit);
  letter-spacing: calc(0.5 * var(--font-unit));
  text-shadow: white 0 0 0.4vmin, white 0 0 0.4vmin, white 0 0 0.4vmin,
    white 0 0 0.4vmin, white 0 0 0.4vmin, white 0 0 0.4vmin;
}

.info-title {
  font-family: verdana;
  font-size: calc(1.25 * var(--font-unit));
  font-weight: bolder;
  line-height: 10vmin;
  -webkit-text-stroke: 1.5px white;
}

.info-description {
  width: 60%;
  font-family: Verdana;
  text-align: center;
  font-size: calc(0.625 * var(--font-unit));
  letter-spacing: calc(0.075 * var(--font-unit));
  text-shadow: white 0 0 0.2vmin, white 0 0 0.2vmin, white 0 0 0.2vmin,
    white 0 0 0.2vmin, white 0 0 0.2vmin, white 0 0 0.2vmin;
}
