.ball-size--l {
  --font-unit: 2.6vw;
}

.ball-size--s {
  --font-unit: 1.8vw;
}

$date-shadow: calc(0.08 * var(--font-unit));
$title-stroke: calc(0.07 * var(--font-unit));

.info-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;

  font-family: bruno;
}

.info-rest-day-text {
  font-size: calc(3.75 * var(--font-unit));
  -webkit-text-stroke: calc(0.125 * var(--font-unit)) white;
  line-height: calc(2 * var(--font-unit));

  &__unit {
    font-size: calc(1.125 * var(--font-unit));
    -webkit-text-stroke: calc(0.0375 * var(--font-unit)) white;
    text-shadow: -0.1vmin 0 white, 0 0.1vmin white, 0.1vmin 0 white,
      0 -0.1vmin white;
  }
}

.info-date-end {
  font-size: var(--font-unit);
  letter-spacing: calc(0.5 * var(--font-unit));
  text-shadow: white 0 0 $date-shadow, white 0 0 $date-shadow,
    white 0 0 $date-shadow, white 0 0 $date-shadow, white 0 0 $date-shadow,
    white 0 0 $date-shadow;
}

.info-title {
  font-family: verdana;
  font-weight: bolder;
  font-size: calc(1.3 * var(--font-unit));
  line-height: calc(3.75 * var(--font-unit));
  -webkit-text-stroke: $title-stroke white;
}

.info-description {
  width: 70%;
  color: rgba(170, 170, 170, 1);
  font-family: Verdana;
  font-size: calc(0.625 * var(--font-unit));
  letter-spacing: calc(0.075 * var(--font-unit));
  text-align: center;
}

// responsive
@media (max-width: 1030px) {
  .ball-size--l {
    --font-unit: 3.1vw;
  }

  .ball-size--s {
    --font-unit: 2.1vw;
  }
}
