// DEV: 7% => 80%
$slideup-container-height: 7%;

.slideup__darkner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: transparent;
  backdrop-filter: blur(20px);

  transition: opacity 0.8s ease-in-out;
}

.slideup__container {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: $slideup-container-height;

  border-radius: 10vmin 10vmin 0 0;
  border: 0.2vw solid rgba(255, 255, 255, 0.5);

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 1);
}

.slideup__btn {
  position: absolute;
  top: 3vh;

  height: 0.6vw;
  width: 30vw;

  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;

  background-color: rgba(255, 255, 255, 1);
  border: none;

  cursor: pointer;
  z-index: 2;

  &:focus {
    outline: 0;
  }
}

.slideup__scroll-panel {
  margin-top: 10vmin;
  width: 90vw;
}

.slide-up-anim {
  animation: slide-up-anim 0.5s ease-in-out forwards;
}

@keyframes slide-up-anim {
  0% {
    height: $slideup-container-height;
  }
  50% {
    height: 1%;
  }
  100% {
    height: 80%;
  }
}

.slide-down-anim {
  animation: slide-down-anim 0.5s ease-in-out forwards;
}

@keyframes slide-down-anim {
  0% {
    height: 80%;
  }
  50% {
    height: 87%;
  }
  100% {
    height: $slideup-container-height;
  }
}
